<br><br>


<div class ="container event-container">
<div class = "row my-1 ">
<div class ="col-5 text-center">
 {# <h2 class="price-discount text-center">promotion  <i class="fas fa-share-all"></i><i class="fas fa-share-all"></i><i class="fas fa-share-all"></i></h2> #}

<br><br><br><img src="images/uploads/promo1.jpg" class="promo-img"alt="">
<img src="images/uploads/promo.png" class="promo-img" alt="">

<h3> du 12/09/2021 au 14/09/2021</h3>
<h5>Venez pour en profiter </h5>
<p>stock limité</p>
</div>
<div class ="col-7">
<div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      
        
      
      <div class="carousel-inner">
      
        <div class="carousel-item active">
          <img src="/images/uploads/slider1.jpg" class="d-block w-70 h-100" alt="...">
        </div>
      
        <div class="carousel-item">
          <img src="images/uploads/chicken1.jpg" class="d-block w-70 h-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/uploads/meat2.jpg" class="d-block w-70 h-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <br>