{% extends 'base.html.twig' %}

{% block title %}New ArticleFastFood{% endblock %}

{% block body %}
    <h1>Create new ArticleFastFood</h1>

    {{ include('article_fast_food/_form.html.twig') }}

    <a href="{{ path('article_fast_food_index') }}">back to list</a>
{% endblock %}
