{% extends 'base.html.twig' %}

{% block title %}Edit Article1{% endblock %}

{% block body %}
    <h1>Edit Article1</h1>

    {{ include('article1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article1_index') }}">back to list</a>

    {{ include('article1/_delete_form.html.twig') }}
{% endblock %}
