<form method="post" action="{{ path('unite_fast_food_delete', {'id': unite_fast_food.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unite_fast_food.id) }}">
    <button class="btn">Delete</button>
</form>
